@charset "UTF-8";
:root {
  --gradAngle: 270deg;
  --grad1: #e96544;
  --grad2: #924f96;
}

body {
  font-family: Nunito;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1, h2 {
  font-family: Lato;
}

header {
  background: -webkit-linear-gradient(var(--gradAngle), var(--grad1), var(--grad2)) fixed;
  background: linear-gradient(var(--gradAngle), var(--grad1), var(--grad2)) fixed;
  width: 100vw;
  min-height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FDFDFD;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header h1 {
  color: #FDFDFD;
}

section {
  width: 40vw;
  position: relative;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
section::after {
  content: '';
  height: 2px;
  width: 25%;
  background: -webkit-linear-gradient(var(--gradAngle), var(--grad1), var(--grad2)) fixed;
  background: linear-gradient(var(--gradAngle), var(--grad1), var(--grad2)) fixed;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
section:last-of-type::after {
  display: none;
}
@media (max-width: 1280px) {
  section {
    width: 90vw;
  }
  section h2 {
    text-align: center;
  }
}

.about::after {
  display: none;
}

.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.bio .img {
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}

a {
  color: #e96544;
}

dt {
  float: left;
  clear: both;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

dd {
  float: right;
}

dd, dt {
  height: 30px;
  line-height: 30px;
}

ul {
  list-style-type: none;
}
ul li {
  position: relative;
  margin-bottom: 1rem;
}
ul li::before {
  content: '■';
  color: var(--grad2);
  left: -1rem;
  position: absolute;
}

.employer {
  float: right;
}
